body {
  display: flex;
  background-color: #ECEEF1;
}

.topRightBar {
  display: flex;
  position: absolute;
  right: 3%;
  top: 1.5%;
  height: 5.5%;
}

.forgetId {
  text-decoration: none;
}

.haveId {
  display: flex;
  flex-direction: column;
  line-height: 0.5;
  align-items: center;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #505050;
  height: 100%;
  margin-right: 10px;
}

.btnSignIn {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  height: 34px;
  width: 100%;
  padding: 0 20px;
  color: white;
}

.btncreateAcc{
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  height: 45px;
  width: 100%;
  padding: 0 20px;
  color: white;
  font-size: 16px;
}
.haveAccount {
  padding-top: 0;
  margin-top: 4.25px;
}

.fas {
  padding-right: 5px;
}

.mainBody {
  background-color: aquamarine;
  position: absolute;
  left: 35%;
  top: 10%;
  display: flex;
  width: 400px;
  flex-direction: column;
  height: 800px;
  
}

.mainLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center;
  justify-content: center; */
  width: 25%;
  height: 100%;
  color: #ECEEF1;
}

.logoNextline {
  display: flex;
  position: absolute;
  /* flex-direction: row; */
  width: 80%;
  top: 50px;
  left: 10px;
}

.mint {
  position: absolute;
  left: 10%;
  height: 30px;
  width: 30px;
}

.mintText {
  position: absolute;
  left: 20%;
  height: 25px;
  width: 40px;
}

.quickBooks {
  position: absolute;
  left: 34%;
  height: 30px;
  width: 30px;
}

.quickBooksText {
  position: absolute;
  left: 45%;
  height: 25px;
  width: 85px;
}

.turbotax {
  position: absolute;
  left: 74%;
  height: 30px;
  width: 30px;
}

.turbotaxText {
  position: absolute;
  left: 84%;
  height: 25px;
  width: 80px;
}
  
fieldset{  
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  width: 400px;
  height: auto;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.createAcc {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.firstLine {
  font-weight: 400;
  line-height: 1.1;
  font-size: 24px;
  margin-bottom: 10px;
  /* font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif; */
}
.secondLine, .learnMore {
  font-weight: 400;
  line-height: 2px;
  font-size: 14px;
  /* font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif; */

}
.learnMore {
  text-decoration: none;
  font-size: 13px;
}
.userInputs {
  padding: 20px 20px 0 20px;
  display:flex;
  flex-direction: column;
}

/* .tooltip .tooltipText::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  /* display: inline-block; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
} */

/* .tooltip
{
    display: inline;
    position: relative;
    text-decoration: none;
    top: 0px;
    left: 4px;
    visibility: hidden;
}
.tooltip:focus-within
{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    top: -5px;
    color: #fff;
    content: attr(alt);
    left: 160px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 150px;
    visibility: visible;
}
.tooltip:focus-within
{
    border: solid;
    border-color: transparent black;
    border-width: 6px 6px 6px 0;
    bottom: 20px;
    content: "";
    left: 155px;
    position: absolute;
    z-index: 99;
    top: 3px;
    visibility: visible;
} */


/* This section is tooltip*/

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  /* overflow: visible; */
  
}

/* .tooltiptext {
  overflow-block: visible;
} */

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:focus-within .tooltiptext {
  visibility: visible;
}
/*tooltip section ends here*/

.userInputs input {
  /* display: block; */
  height: 30px;
  width: 340px;
  /* width:100%; */

  /* border: 2px black !important; */
  box-shadow: none !important;
  /* outline: none; */
  
}

.formFooter{
  text-align: center;
  font-size: small;
}

.ffhyperlink{
  text-decoration: none;
}

.emailBox {
  margin-bottom: 20px;
}

.phoneBox{
  margin-bottom: 20px;
}

.passwordBox {
  margin-bottom: 25px;
}

.bottomFF{
  background-color: #ECEEF1;
  font-size: 10px;
  display: flex;
  position: absolute;
  width: 100%;
  top: 700px;
  left: 0px;
  
}

.bottomFFformat{  
  text-align: center;
}